# Dependências
node_modules/
.pnp
.pnp.js

# Build
dist/
build/

# Ambiente
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Docker volumes
postgres_data/
redis_data/

# Prisma
apps/api/prisma/migrations/*.sql

# IDE
.vscode/
.idea/
